In [1]:
import pandas as pd
import os

In [ ]:
# üîπ Chemins
input_path = "../../data/cleaning/step1_typed.parquet"
output_path = "../../data/cleaning/step2_with_monthly_payment_corrected.parquet"

# üîπ Chargement du fichier issu de l'√©tape 1
try:
    df = pd.read_parquet(input_path)
except FileNotFoundError:
    print("Erreur : le fichier step1_typed.parquet n'a pas √©t√© trouv√©.")
    exit()

# üîπ V√©rification des colonnes n√©cessaires
required_cols = ['loan_amnt', 'int_rate', 'term']
if not all(col in df.columns for col in required_cols):
    print("Erreur : colonnes manquantes pour le calcul des mensualit√©s.")
    exit()

# üîπ Recalcul de la mensualit√© selon la formule standard
M = df['loan_amnt']
t = df['int_rate'] / (100*12)  
n = df['term']

# üîπ Formule : m = (M * t) / (1 - (1 + t)**(-n))
with pd.option_context('mode.use_inf_as_na', True):  # g√©rer les divisions par z√©ro
    m = (M * t) / (1 - (1 + t) ** (-n))
    df['monthly_payment_calculated'] = m

# üîπ Sauvegarde au format Parquet
df.to_parquet(output_path, index=False)
print(f"‚úÖ Fichier sauvegard√© avec mensualit√©s recalcul√©es : {output_path}")

C:\Users\Pierre\AppData\Local\Temp\ipykernel_16072\1726007248.py:24: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):  # g√©rer les divisions par z√©ro

‚úÖ Fichier sauvegard√© avec mensualit√©s recalcul√©es : ../../data/cleaning/step2_with_monthly_payment_corrected.parquet

In [5]:
df.describe()

,loan_amnt,term,int_rate,installment,emp_length,annual_inc,issue_d,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,mort_acc,pub_rec_bankruptcies,monthly_payment_calculated
count,396030.000000,396030.000000,396030.000000,396030.000000,377729.000000,3.960300e+05,396030,396030.000000,396030,396030.000000,396030.000000,3.960300e+05,395754.000000,396030.000000,358235.000000,395495.000000,396030.000000
mean,141138.880893,41.698053,12.501757,39314.077666,5.938578,7.782099e+05,2013-08-23 23:26:25.898037760,1562.102119,1998-09-27 10:20:21.180213760,113.111532,1.781910,1.584454e+05,538.331332,254.147438,18.139908,1.216476,4241.972435
min,5000.000000,36.000000,0.600000,285.000000,0.000000,0.000000e+00,2007-01-06 00:00:00,0.000000,1975-01-01 00:00:00,0.000000,0.000000,0.000000e+00,0.000000,20.000000,0.000000,0.000000,160.773130
25%,80000.000000,36.000000,9.670000,19926.000000,3.000000,4.500000e+05,2013-01-05 00:00:00,881.000000,1994-01-12 00:00:00,80.000000,0.000000,6.025000e+04,358.000000,170.000000,0.000000,0.000000,2456.292134
50%,120000.000000,36.000000,12.990000,34465.000000,6.000000,6.463500e+05,2014-01-04 00:00:00,1552.000000,1999-01-11 00:00:00,100.000000,0.000000,1.118100e+05,548.000000,240.000000,10.000000,0.000000,3681.716044
75%,200000.000000,36.000000,15.880000,53906.000000,10.000000,9.000000e+05,2015-01-03 00:00:00,2209.000000,2003-01-06 00:00:00,140.000000,0.000000,1.962000e+05,729.000000,320.000000,30.000000,0.000000,5575.927817
max,400000.000000,60.000000,30.990000,153381.000000,10.000000,8.706582e+07,2016-01-12 00:00:00,99990.000000,2074-01-12 00:00:00,900.000000,860.000000,1.743266e+07,9446.000000,1510.000000,340.000000,80.000000,15338.036132
std,83574.413411,10.212038,5.398287,26412.949444,3.645623,8.137573e+05,NaN,925.265762,NaN,51.376488,5.306706,2.059184e+05,248.238561,118.869907,21.479305,3.561743,2471.637239